{% extends "base.html" %}
{% load static %}



{% block content %}

<title>{{ title }}</title>
 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<link rel="stylesheet" href={% static "style\profile.css" %}>


<div class="container rounded bg-white mt-5 mb-5" style="color: #C59E47">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                {% if user.image %}
                    <img class="rounded-circle mt-5" width="150px" height="150px" src={{ user.image.url }}>
                {% else %}
                    <img class="rounded-circle mt-5" width="150px" height="150px" src={% static "image\no_img.png" %} alt="">
                {% endif %}
                <span class="font-weight-bold"><h1>{{ user.first_name }} {{ user.last_name }}</h1></span>
                <span class="text-black-50">{{ user.email }}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 class="text-right">Profile Settings</h3>
                </div>
            <form action={% url "users:profile" user.id %} method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels" for={{form.first_name.id_for_label }}>First name</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col-md-6">
                        <label class="labels" for={{form.last_name.id_for_label }}>Second name</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels" for={{form.username.id_for_label }}>Username</label>
                        {{ form.username }}
                    </div>
                    <div class="col-md-12">
                        <label class="labels"for={{form.email.id_for_label }}>Email</label>
                        {{ form.email }}
                    </div>
                    <div>
                        <label for="formFileLg" class="form-label"><h4>Choose an image</h4></label>
                        {{ form.image }}
                    </div>

                    
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">
                    Save Profile</button></div>
            </form>
            </div>
        </div>


        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div class="p-3 mb-2 bg-warning-subtle text-warning-emphasis">
    <h2>Rent checks: {{ rent_data.count }}</h2> 
</div>


{% for data in rent_data %}
<div class="card">
    <div class="card-body" style="color: #C59E47">  

        <div class="vehicle_img">
            <img src={{ data.vehicle_for_rent.vehicle_image.url }} width="180px" class="img-thumbnail" alt="...">
        </div>
            
     
        <img src={% if data.vehicle_for_rent.logo %}
            {{ data.vehicle_for_rent.logo.url }} {% else %} {% static  "image\no.png" %} 
               {% endif %} width="180px" class="rounded float-end" alt="...">


        <div class="inline-div">
            <h4><img src={% static "svg\log.svg" %} alt=""> Mark: <span>{{ data.vehicle_for_rent.mark }}</span></h4>
            <h4><img src={% static "svg\mol.svg" %} alt=""> Model: <span>{{ data.vehicle_for_rent.model }}</span></h4>
            <h4><img src={% static "svg\color.svg" %} alt=""> Color: <span>{{ data.vehicle_for_rent.color }}</span></h4>
            <h4><img src={% static "svg\classic.svg" %} alt=""> Type: <span>{{ data.vehicle_for_rent.type }}</span></h4>
            <h4><img src={% static "svg\engine.svg" %} alt=""> Engine val: <span>{{ data.vehicle_for_rent.engine_val }}</span></h4>
            <h4><img src={% static "svg\fuel.svg" %} alt=""> Fuel type: <span>{{ data.vehicle_for_rent.fuel_type }}</span></h4>
            <h4><img src={% static "svg\gear_box.svg" %} alt=""> Gear box: <span>{{ data.vehicle_for_rent.gear_box }}</span></h4>
            <h4><img src={% static "svg\year.svg" %} alt=""> Year: <span>{{ data.vehicle_for_rent.year }}</span></h4>              
        </div>


        <div class="p-3 mb-2 bg-warning-subtle text-warning-emphasis">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="color: #C59E47" >Username <img src={% static "\svg\user.svg" %}></th>
                    <th scope="col" style="color: #C59E47" >First name <img src={% static "\svg\first.svg" %}> </th>
                    <th scope="col" style="color: #C59E47">Last name <img src={% static "\svg\first.svg" %}> </th>
                    <th scope="col" style="color: #C59E47">Emal <img src={% static "\svg\email.svg" %} alt=""></th>
                    <th scope="col" style="color: #C59E47">Phone <img src={% static "\svg\phone.svg" %}> </th>
                    <th scope="col" style="color: #C59E47">Pick up location <img src={% static "\svg\location1.svg" %}> </th>
                    <th scope="col" style="color: #C59E47">Car leave location <img src={% static "\svg\location2.svg" %}></th>
                    <th scope="col" style="color: #C59E47">Pick up time <img src={% static "svg\clock.svg" %}></th>
                    <th scope="col" style="color: #C59E47">Return time <img src={% static "svg\clock.svg" %}></th>
                    <th scope="col" style="color: #C59E47">Pick up date <img src={% static "svg\calendar.svg" %}></th>
                    <th scope="col" style="color: #C59E47">Return date <img src={% static "svg\calendar.svg" %}></th>
                    <th scope="col" style="color: #C59E47">Created at <img src={% static "svg\created_at.svg" %}></th>
                  </tr>
                </thead>
                <tbody >
                  <tr>
                    <th scope="row">{{ data.username }}</th>
                    <td>{{ data.first_name }}</td>
                    <td>{{ data.last_name }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.phone }}</td>
                    <td>{{ data.pick_up_location.title }}</td>
                    <td>{{ data.leave_car_location.title }}</td>
                    <td>{{ data.pick_up_time }}</td>
                    <td>{{ data.return_time }}</td>
                    <td>{{ data.pick_up_date }}</td>
                    <td>{{ data.car_return_date }}</td>
                    <td>{{ data.created_at }}</td>
                  </tr>
                </tbody>
              </table>
        </div>

    </div>
</div>
{% endfor %}
{% endblock %}
